.img-mini-table {
    width: 75px;
}

.lista-produto {
    text-align: center;
    vertical-align: middle;
}

td {
    color: #B36A0B;
}

.fa-trash-alt {
    color: #b30b0b;
}

img, h5 {
    cursor: pointer;
}

.fa-plus-square {
    color: #157347;
}

.btn_hover:hover {
    background-color: #157347;
}